@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");

/** Edits by Ultra_Kev **/
.border {
  border-image-source: url(../assets/border.svg);
  border-image-slice: 0 40 0 40;
}

.window-app .window-content {
  background: url(../assets/parchment.jpg) repeat !important;
  color: #2f290c !important; 
}

#sidebar {
  color: #ffffff !important;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}

table, .tormenta20 ol, .tormenta20 .resource, .tormenta20 .header-fields, .tormenta20 .atributos li.item.flexrow, .tormenta20 textarea, .tormenta20 textarea:focus {
  border-style: solid;
  border-color: none !important;
  border-width: 9px;
  border-image: url(../assets/border.svg) 4 4 4 4 fill repeat;
  border-collapse: inherit !important;
  background-color: rgba(0, 0, 0, 0.05);
}

.tormenta20 h1, .tormenta20 h2, .outros h4 {
  border-image: url(../assets/underline.svg) 2;
  border-bottom: 5px solid transparent;
  padding-left: 5px;
}

.app {
  max-height: 100%;
  background: url(../assets/side-bar.png) repeat;
  border-radius: 5px;
  box-shadow: 0 0 20px #000;
  margin: 3px 0;
  padding: 0.5em;
  color: #c74b37 !important;
  z-index: 30;
}

button {
  color: #2f290c;
}

#sidebar button {
  color: #fff;
  /*#f18c17;*/
}

button {
  width: 100%;
  margin: 0 1px;
  background: #0d0d0d;
  border: 1px solid #782e22;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  font-family: "Signika", sans-serif;
}

#sidebar {
  border: 1px solid #782e22;
}

/** End Ultra_Kev **/

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover,
.rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to tormenta20 sheets */
.tormenta20 .item-form {
  font-family: "Roboto", sans-serif;
}

.tormenta20 .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.tormenta20 .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.tormenta20 .header-fields {
  padding: 6px !important;
}
.tormenta20 .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tormenta20 .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.tormenta20 .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.tormenta20 .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.tormenta20 .sheet-body,
.tormenta20 .sheet-body .tab {
  height: 100%;
}

.tormenta20 .sheet-body .tab .editor {
  height: inherit;
}

.tormenta20 .tox .tox-editor-container {
  background: #fff;
}

.tormenta20 .tox .tox-edit-area {
  padding: 0 8px;
}

.tormenta20 .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.tormenta20 nav.sheet-tabs {
  text-align: center;
  font-size: 18px;
}

.tormenta20 .tabs .item {
  line-height: 40px;
  font-weight: bold;
}


.tormenta20 .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.tormenta20 .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: unset;
}

.tormenta20 .items-list .item-header {
  font-weight: bold;
}

.tormenta20 .items-list .item {
  height: auto;/*30px;*/
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.tormenta20 .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
  height: 24px;
  width: 24px;
  background-size: 24px;
  background-repeat: no-repeat
}

.tormenta20 .items-list .item img {
  display: block;
}

.tormenta20 .items-list .item-name {
  margin: 0;
}

.tormenta20 .items-list .item-separator {
  flex:0;
}

.tormenta20 .ataques .items-list .item-name {
  margin: 0;
  -ms-flex: 2;
  flex: 2;
}

.tormenta20 .atributos .items-list {
  min-height: 80px;
  text-transform: uppercase;
  border: none;
  background-color: unset;
}

.tormenta20 .atributos .items-list .item {
  display: inline-block;
  width: 15%;
}

.tormenta20.tabbed .atributos .items-list .item{
  display: block;
  text-align: center;
}

.tormenta20 .atributos .items-list .item label {
  width: 100%;
}

.tormenta20 .items-list .item-prep {
  margin: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
}

.tormenta20 .items-list .item-custo {
  max-width: 50px;
}

.tormenta20 .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 56px;
  flex: 0 0 56px;
  text-align: right;
}

.tormenta20 .ataques,
.tormenta20 .poderes {
  min-height: 60px;
}

.tormenta20 h1,
.tormenta20 h2,
  {
  border: 0 !important;
  border-bottom: 0 !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


.tormenta20 input {
  border: 0;
  border-bottom: 2px solid black;
  border-radius: 0;
  margin-bottom: 5px;
}

.tormenta20 .container {
  display: inline-block;
}

.tormenta20 textarea {
  max-width: 100% !important;
}

.tormenta20 .full textarea {
  width: 100%;
  height: 100%;
  min-height: 200px;
  max-width: 100% !important;
  max-height: unset !important;
}

.tormenta20 .infos label {
  display: inline-block;
  width: calc(30% - 2px);
}

.tormenta20 .bottom label>input {
  width: 50%;
}


.tormenta20 .infos label.nivel {
  width: calc(9% - 4px);
}

.tormenta20 .sheet-body .dados {
  width: 55%;
  position: relative;
  float: left;
}

.tormenta20 .sheet-body .skills {
  width: 44%;
  position: relative;
  float: right;
}

.tormenta20 .pericias table th {
  font-size: 12px;
  line-height: 14px;
}

.col-5 {
  width: 5%;
}

.col-10 {
  width: 10%;
}

.col-15 {
  width: 15%;
}

.col-20 {
  width: 20%;
}

.col-24 {
  width: 24%;
  max-width: 24%
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75% !important;
  max-width: 75% !important;
}

.full {
  width: 100%;
}


.flex {
  display: flex;
  width: 100%;
}

.field {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.tormenta20 table.skl-tbl td {
  padding: 0;
  margin: 2px;
}


.tormenta20 div.border {
  border: 1px solid black;
  border-radius: 15px;
  min-height: 100px;
  padding: 5px;
}

.tormenta20 input.border {
  border: 2px solid black;
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
}

.tormenta20 .tabbed .header-fields .recursos,
.tormenta20 .dados .recursos,
.tormenta20 .dados .atributos {
  font-size: 10px;
  text-align: center;
}

.tormenta20 .tabbed .header-fields .recursos,
.tormenta20 .dados .recursos {
  min-height: 90px;
}

.tormenta20 .rollable:hover {
  cursor: pointer;
  color: red;
}

.tormenta20 .dados .atributos h1 {
  margin: auto;
}

.tormenta20 .dados .atributos label {
  width: auto;
  /*max-width: 16%;*/
  display: inline-block;
}

.tormenta20 .tabbed .header-fields .recursos label,
.tormenta20 .dados .recursos label {
  display: inline-block;
  width: 30%;
  max-width: 30%;
}

.tormenta20 .resource {
  width: 50%;
  height: unset !important;
  margin-top: 10px;
  float: left;
  text-align: center;
}

.tormenta20 .tabbed .header-fields .recursos .vl,
.tormenta20 .dados .recursos .vl {
  border-left: 1px solid black;
  height: 40px;
  display: inline-block;
  vertical-align: super;
}

.tormenta20 .tabbed .header-fields .recursos input,
.tormenta20 .dados .recursos input {
  width: 50px;
  height: 30px;
  border: 0;
  font-size: 2em;
}

.tormenta20 .outros {
  /*float: right;
  position: relative;*/
  width: 100%;
}

.tormenta20 .defesa,
.tormenta20 .reducao_dano,
.tormenta20 .armadura {
  /*float: left;*/
  width: 100%;
}

.tormenta20 .tabbed .defesa {
  width: 60%;
  display: inline-block;
}
.tormenta20 .tabbed .reducao_dano {
  width: 39%;
  display: inline-block;
}

.tormenta20 .sel-center {
  width: 100%;
  text-align: center;
}

.t20-chat-card span.custo {
  color: red;
}

/* Tooltip text */
.tooltip .tooltipcontent {
  font-family: sans-serif;
  font-size: 11px;
  font-weight: normal;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  line-height: 13px;
  min-width: 128px;
  width: 240px;
  /* Position the tooltip text */
  position: fixed;
  z-index: 1;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipcontent {
  visibility: visible;
  pointer-events: none;
  opacity: 1;
}


.tormenta20.npc input.npc-name {
  width: 85%;
}

.tormenta20.npc input.npc-nd {
  width: 10%;
}

.tormenta20.npc .npc-line input {
  display: inline-block;
  max-width: 40px;
}

.tormenta20.npc .npc-line input.dc-editing {
  max-width: 100%;
}

.tormenta20 .npc .items-list .item {
  height: auto;
  border: 0;
}

.tormenta20 .npc .items-list .item div.item-name {
  text-indent: -1.5em;
  padding-left: 1.5em;
}

.tormenta20 .items-list .item div.item-atq,
.tormenta20 .items-list .item div.item-dano {
  max-width: 70px;
}

.tormenta20 .npc .items-list .item div.item-controls {
  white-space: nowrap;
}

.message-content div.dice-roll .dice-total .critico{
  border: 1px solid green;
  box-shadow: 0 0 2px green inset;
}

.message-content div.dice-roll .dice-total .falha{
  border: 1px solid green;
  box-shadow: 0 0 2px green inset;
}