<form class="tormenta20" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="resources flex grid-2col">
                <div class="field flex-group-center">
                    <input name="name" type="text" value="{{item.name}}" placeholder="Nome" />
                    <label>Nome</label>
                </div>
                <div class="field sel-center flex-group-center">
                    <select class="selectatr selArma" name="data.arma" value={{data.arma}} data-type="String">
                        {{#select data.arma}}
                        {{#each armas as |arma a|}}
                            <option value="{{a}}" data-dano="{{arma.data.data.dano}}" data-atqBns="{{arma.data.data.atqBns}}" data-criticoM="{{arma.data.data.criticoM}}" data-criticoX="{{arma.data.data.criticoX}}" data-lancinante="{{arma.data.data.lancinante}}" data-tipo="{{arma.data.data.tipo}}" data-alcance="{{arma.data.data.alcance}}" data-municao="{{arma.data.data.municao}}">{{arma.name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <br><label>Arma</label>
                </div>
            </div>
            <div class="resources flex grid-3col">
                <div class="field flex-group-center">
                    <input type="text" name="data.bonusAtq" value="{{data.bonusAtq}}" data-dtype="Number" />
                    <label>Bônus de Ataque</label>
                </div>
                <div class="field sel-center flex-group-center">
                    <select class="selectatr" name="data.pericia" value={{data.pericia}} data-type="String">
                        {{#select data.pericia}}
                        <option value="lut">Luta</option>
                        <option value="pon">Pontaria</option>
                        <option value="atu">Atuação</option>
                        {{/select}}
                    </select>
                    <br><label>Pericia</label>
                </div>
            </div>
            <div class="resources flex grid-2col">
                <div class="field flex-group-center">
                    <input type="text" name="data.dano" value="{{data.dano}}" data-dtype="String"
                        placeholder="ex.: 1d6+2" />
                    <label>Dano</label>
                </div>
                <div class="field sel-center flex-group-center">
                    <select class="selectatr" name="data.atrDan" value={{data.atrDan}} data-type="String">
                        {{#select data.atrDan}}
                        <option value="0">Nenhum</option>
                        <option value="for">For</option>
                        <option value="des">Des</option>
                        <option value="con">Con</option>
                        <option value="int">Int</option>
                        <option value="sab">Sab</option>
                        <option value="car">Car</option>
                        {{/select}}
                    </select>
                    <br><label>Atributo de Dano</label>
                </div>
            </div>
            <div class="resources flex grid-3col">
                <div class="field flex-group-center">
                    <input type="text" name="data.criticoM" value="{{data.criticoM}}" data-dtype="Number"
                        placeholder="ex.: 19" />
                    <label>Margem de Crítico</label>
                </div>
                <div class="field flex-group-center">
                    <input type="text" name="data.criticoX" value="{{data.criticoX}}" data-dtype="Number" />
                    <label>Multiplicador de Crítico</label>
                </div>
                <div class="field flex-group-center">
                    {{#if data.lancinante}}
                    <input type="checkbox" name="data.lancinante" value="{{data.lancinante}}" checked
                        data-dtype="Boolean" />
                    {{else}}
                    <input type="checkbox" name="data.lancinante" value="{{data.lancinante}}" data-dtype="Boolean" />
                    {{/if}}
                    <br><label class="tooltip">Lancinante <i class="fas fa-question-circle"></i>
                        <div class="tooltipcontent">Crítico multiplica valores fíxos</div>
                    </label>
                </div>
            </div>
            <div class="resources flex grid-3col">
                <div class="field flex-group-center">
                    <input type="text" name="data.alcance" value="{{data.alcance}}" data-dtype="String" />
                    <label>Alcance</label>
                </div>
                <div class="field flex-group-center">
                    <input type="text" name="data.municao" value="{{data.municao}}" data-dtype="Number" />
                    <label>Munição</label>
                </div>
                <div class="field flex-group-center">
                    <input type="text" name="data.custo" value="{{data.custo}}" data-dtype="Number" />
                    <label>PM</label>
                </div>
                <div class="field flex-group-center">
                    <input type="text" name="data.tipo" value="{{data.tipo}}" data-dtype="String" />
                    <label>Tipo</label>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="full">
            <br><label>Descrição</label>
            <textarea name="data.description" data-dtype="String">{{data.description}}</textarea>
        </div>
    </section>
</form>