<form class="tormenta20" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="resource col-50"><input name="name" type="text" value="{{item.name}}" placeholder="Nome" />
            </div>
            <div class="resource  col-24">
                <input type="text" name="data.custo" value="{{data.custo}}" data-dtype="Number" />
                <label>PM</label>
            </div>
            <div class="resource  col-24">
                <input type="text" name="data.cd" value="{{data.cd}}" data-dtype="Number" />
                <label>CD ({{data.totalCD}} : {{data.actorCD}}+{{data.cd}})</label>
            </div>
            <div class="resources flex grid-3col">
                <div class="field flex-group-center" style="width: 100%">
                    <select class="selectatr" name="data.tipo" value={{data.tipo}} data-type="Number">
                        {{#select data.tipo}}
                        <option value="Arcana">Arcana</option>
                        <option value="Divina">Divina</option>
                        <option value="Universal">Universal</option>
                        {{/select}}
                    </select>
                    <br><label>Tipo</label>
                </div>
                <div class="field flex-group-center" style="width: 100%">
                    <select class="selectatr" name="data.circulo" value={{data.circulo}} data-type="Number">
                        {{#select data.circulo}}
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        {{/select}}
                    </select>
                    <br><label>Circulo</label>
                </div>
                <div class="field flex-group-center" style="width: 100%">
                    <select class="selectatr" name="data.escola" value={{data.escola}} data-type="String">
                        {{#select data.escola}}
                        <option value="Abjuração">Abjuração</option>
                        <option value="Adivinhação">Adivinhação</option>
                        <option value="Convocação">Convocação</option>
                        <option value="Encantamento">Encantamento</option>
                        <option value="Evocação">Evocação</option>
                        <option value="Ilusão">Ilusão</option>
                        <option value="Necromancia">Necromancia</option>
                        <option value="Transmutação">Transmutação</option>
                        {{/select}}
                    </select>
                    <br><label>Escola</label>
                </div>
            </div>
            <div class="resources flex grid-3col">
                <div class="field flex-group-center">
                    <input type="text" name="data.execucao" value="{{data.execucao}}" data-dtype="String" />
                    <label>Execução</label>
                </div>
                <div class="field flex-group-center">
                    <!-- <input type="text" name="data.alcance" value="{{data.alcance}}" data-dtype="String" /> -->
                    <select class="selectatr" name="data.alcance" value={{data.alcance}} data-type="String">
                        {{#select data.alcance}}
                        <option value="Pessoal">Pessoal</option>
                        <option value="Toque">Toque</option>
                        <option value="Curto">Curto</option>
                        <option value="Médio">Médio</option>
                        <option value="Longo">Longo</option>
                        <option value="Ilimitado">Ilimitado</option>
                        {{/select}}
                    </select>
                    <br><label>Alcance</label>
                </div>
                <div class="field flex-group-center">
                    <input type="text" name="data.duracao" value="{{data.duracao}}" data-dtype="String" />
                    <label>Duração</label>
                </div>
            </div>
            <div class="resources flex grid-3col">
                <div class="field flex-group-center">
                    <input type="text" name="data.alvo" value="{{data.alvo}}" data-dtype="String" />
                    <label>Alvo</label>
                </div>
                <div class="field flex-group-center">
                    <input type="text" name="data.area" value="{{data.area}}" data-dtype="String" />
                    <label>Area</label>
                </div>
                <div class="field flex-group-center">
                    <input type="text" name="data.resistencia" value="{{data.resistencia}}" data-dtype="String" />
                    <label>Resistência</label>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="full">
            <input type="text" name="data.efeito" value="{{data.efeito}}" data-dtype="String" placeholder="Ex: 6d6+6" />
            <br><label>Rolagem</label>
        </div>

        <div class="aprimoramentos">
          <ol class="items-list">
            <li class="item flexrow item-header flex-center">
              <div>APRIMORAMENTOS</div>
            </li>
            <li class="item flexrow item-header">
              <div class="item-tipo">Tipo</div>
              <div class="item-campo">Altera</div>
              <div class="item-name">Para</div>
              <div class="item-custo">Custo</div>
              <div class="item-controls">

                <a class="item-control item-create" title="Novo aprimoramento" data-type="aprimoramento"><i class="fas fa-plus"></i>
                  Novo</a>
              </div>
            </li>
            {{#each aprimoramentos as |ap id|}}
            <li class="item flexrow" data-item-id="{{id}}">
              
              <div class="item-tipo">
                    <select class="selectatr" name="ap.tipo" value={{ap.tipo}} data-type="Number">
                        {{#select ap.tipo}}
                        <option value="Muda">Muda</option>
                        <option value="Aumenta">Aumenta</option>
                        <option value="Truque">Truque</option>
                        <option value="Outros">Outros</option>
                        {{/select}}
                    </select>
              </div>
              <div class="item-campo">
                    <select class="selectatr" name="ap.campo" value={{ap.campo}} data-type="Number">
                        {{#select ap.campo}}
                        <option value="execucao">Execução</option>
                        <option value="alcance">Alcance</option>
                        <option value="duracao">Duração</option>
                        <option value="alvo">Alvo</option>
                        <option value="area">Area</option>
                        <option value="efeito">Rolagem</option>
                        <option value="cd">CD</option>
                        <option value="description">Descrição</option>
                        {{/select}}
                    </select>
              </div>
              <div class="item-name">
                  <input type="text" name="ap.camponovo" value="{{ap.camponovo}}" data-dtype="String" placeholder="Ex: 6d6+6" />
              </div>
              <div class="item-custo">{{item.data.custo}}</div>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>

        <div class="full border">
            <label>Descrição</label>
            <textarea name="data.description" value="{{data.description}}"
                data-dtype="String">{{#if data.description}}{{data.description}}{{/if}}</textarea>
        </div>

    </section>
</form>